<!DOCTYPE html>
      <html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <title>Document</title>
</head>
        <h1><body>
          <h1><meta>
            Hello world!</h1>
        </body></h1>
</html>



<style lang="sass">
  .hello
    color: red



  p
    background-color: white

  // hidden comment

  nav
    ul
      margin: 0
      padding: 0
      list-style: none


    /* visible comment */

    li
      display: inline-block

      a
        display: block
        padding: 6px 12px
        text-decoration: none



</style>
